/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables */
:root {
  --blue: #339ECC;
  --cyaan: #65E2D9;
  --white: #FFFFFF;
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-intro: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  --light-red: #FF4242;
}

/* Initialization */
* {
  box-sizing: border-box;
  color: var(--white);
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue-intro);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.btn {
  background: var(--cyaan);
  background: linear-gradient(157deg, var(--cyaan) 27%, var(--blue) 84%);
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  height: 55px;
  letter-spacing: 1px;
}

.btn:hover {
  background: var(--blue);
}

.btn:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

/* Mobile first */
/* Header */
.header {
  background-color: var(--dark-blue-intro);
  width: 100%;
}

.header ul {
  background-color: var(--dark-blue-intro);
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.header li .menu__link {
  display: block;
  font-family: 'Raleway', sans-serif;
  padding: 20px 20px;
}

.header li .menu__link:hover,
.header .header__btn:hover {
  background-color: var(--dark-blue-testimonials);
}

.header .header__image {
  display: block;
  float: left;
  padding: 2rem 3rem;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-out;
}

.header .header__icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 2.8rem 2.8rem;
  user-select: none;
}

.header .header__icon .icon {
  background: var(--white);
  display: block;
  height: .2rem;
  position: relative;
  top: 18px;
  transition: background .2s ease-out;
  width: 2.5rem;
}

.header .header__icon .icon:before,
.header .header__icon .icon:after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .header__icon .icon:before {
  top: 8px;
}

.header .header__icon .icon:after {
  top: -8px;
}

.header .header__btn {
  display: none;
}

.header .header__btn:checked ~ .header__menu > .menu {
  max-height: 240px;
}

.header .header__btn:checked ~ .header__icon .icon {
  background: transparent;
}

.header .header__btn:checked ~ .header__icon .icon:before {
  transform: rotate(-45deg);
}

.header .header__btn:checked ~ .header__icon .icon:after {
  transform: rotate(45deg);
}

.header .header__btn:checked ~ .header__icon:not(steps) .icon:before,
.header .header__btn:checked ~ .header__icon:not(steps) .icon:after {
  top: 0;
}

/* Main */
.main {
  align-items: center;
  background-color: var(--dark-blue-intro);
  background-image: url("./images/bg-curvy-mobile.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 165% 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 100%;
}

.main .main__image {
  margin-bottom: 20px;
  width: 80%;
}

.main .main__image img {
  margin-top: 20px;
  width: 100%;
}

.main .main__title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  line-height: 4.5rem;
  width: 90%;
}

.main .main__description {
  font-size: 1.6rem;
  line-height: 2.8rem;
  width: 90%;
}

.main .main__btn {
  margin-bottom: 30px;
  margin-top: 20px;
  width: 65%;
}

/* Features */
.features {
  align-items: center;
  background-color: var(--dark-blue-main);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 100px;
}

.features .features__files,
.features .features__security,
.features .features__collaboration,
.features .features__store {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 85%;
}

/* Desktop */
@media screen and (min-width: 900px) {
  /* Header */
  .header li {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
  }

  .header li .menu__link {
    font-size: 1.6rem;
    text-align: center;
    width: 10rem;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .header__icon {
    display: none;
  }

  /* Main */
  .main {
    background-size: 100% 40%;
  }

  .main .main__image {
    width: 40%;
  }

  .main .main__title {
    font-size: 3rem;
    line-height: 4rem;
    width: 40%;
  }

  .main .main__description {
    width: 40%;
  }

  .main .main__btn {
    width: 250px;
  }

  /* Features */
  .container {
    background-color: var(--dark-blue-main);
  }
  
  .features {
    display: grid;
    grid-template-areas:
    "features__files features__security"
    "features__collaboration features__store";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    width: 60%;
  }

  .features__files {
    grid-area: features__files;
  }

  .features__security {
    grid-area: features__security;
  }

  .features__collaboration {
    grid-area: features__collaboration;
  }

  .features__store {
    grid-area: features__store;
  }

}